/* header */
.header {
	&__top-panel {
		padding: 11px 0;
		background: var(--secondary-background-color);
		}
	&__top-in {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 0 20px;
		}
	&__logo {
		flex-shrink: 0;
		margin: 0 36px 0 0;
		width: 66px;
		img {
			width: 100%;
			}
		}
	&__col {
		display: flex;
		align-items: center;
		}
	&__bottom-panel {
		padding: 28px 0;
		}
	&__bottom-in {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 0 20px;
		}
	}

/* mobile-menu-btn */
.mobile-menu-btn {
	display: none;
	flex-shrink: 0;
	margin: 0 16px 0 0;
	width: 20px;
	height: 13px;
	background: url(../img/icons/mobile-menu.svg) top center no-repeat;
	background-size: 100%;
	cursor: pointer;
	}

/* search-form */
.search-form {
	position: relative;
	margin: 0 24px 0 0;
	width: 518px;
	input {
		margin: 0;
		padding: 0 50px 0 25px;
		width: 100%;
		height: 50px;
		color: var(--primary-text-color);
		font-family: var(--primary-font-family);
		font-weight: var(--secondary-font-weight);
		border: 0;
		background: var(--primary-background-color);
		border-radius: 24px;
		}
	&__btn {
		position: absolute;
		margin: 0;
		padding: 0;
		width: 36px;
		height: 36px;
		top: 50%;
		right: 7px;
		transform: translateY(-50%);
		font-size: 0;
		background: var(--primary-btn-color);
		border-radius: 100%;
		cursor: pointer;
		transition: .5s background;
		&:before {
			position: absolute;
			display: block;
			width: 22px;
			height: 22px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: url(../img/icons/search.svg) top center no-repeat;
			background-size: 100%;
			content: "";
			}
		&:hover {
			background: var(--secondary-btn-color);
			}
		}
	}

/* city */
.city {
	display: flex;
	align-items: center;
	gap: 0 7px;
	cursor: pointer;
	transition: .5s opacity;
	&:hover {
		opacity: 0.7;
		}
	img {
		flex-shrink: 0;
		width: 24px;
		}
	&__text {
		display: block;
		font-size: 14px;
		line-height: 24px;
		}
	}

/* user-panel */
.user-panel {
	display: flex;
	align-items: center;
	gap: 0 40px;
	&__item {
		position: relative;
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 6px 0;
		transition: .5s opacity;
		&:hover {
			opacity: 0.7;
			}
		}
	&__number {
		position: absolute;
		display: block;
		margin: 0 0 0 10px;
		min-width: 18px;
		height: 18px;
		top: -4px;
		left: 50%;
		transform: translateX(-50%);
		color: var(--tertiary-text-color);
		font-size: 10px;
		font-weight: var(--tertiary-font-weight);
		line-height: 18px;
		text-align: center;
		background: var(--fifth-background-color);
		border-radius: 100%;
		}
	&__icon {
		height: 22px;
		img {
			width: 100%;
			}
		}
	&__text {
		display: block;
		font-size: 15px;
		font-weight: var(--tertiary-font-weight);
		line-height: 16px;
		}
	}

/* main-nav */
.main-nav {
	&__catalog {
		position: relative;
		display: flex;
		align-items: center;
		gap: 0 5px;
		padding: 12px 14px 12px 19px;
		color: var(--tertiary-text-color);
		font-weight: var(--fifth-font-weight);
		background: var(--primary-btn-color);
		border-radius: 32px;
		cursor: pointer;
		transition: .5s background;
		&:hover {
			background: var(--secondary-btn-color);
			}
		&:after {
			display: block;
			width: 16px;
			height: 16px;
			background: url(../img/icons/down-arrow.svg) top center no-repeat;
			background-size: 100%;
			content: "";
			transition: .5s transform;
			}
		&.open {
			&:after {
				transform: rotate(180deg);
				}
			}
		}
	ul {
		display: flex;
		align-items: center;
		gap: 0 16px;
		}
	li {
		font-size: 15px;
		line-height: 26px;
		&.active {
			a {
				border-color: var(--secondary-background-color);
				background: var(--secondary-background-color);
				}
			}
		}
	a {
		display: block;
		padding: 11px 20px;
		color: var(--primary-text-color);
		border: 1px solid var(--primary-border-color);
		border-radius: 32px;
		transition: .5s all;
		&:hover {
			border-color: var(--secondary-background-color);
			background: var(--secondary-background-color);
			}
		}
	}

/* contact-us */
.contact-us {
	display: flex;
	align-items: center;
	gap: 0 18px;
	padding: 10px 70px 10px 10px;
	border: 1px solid var(--primary-border-color);
	border-radius: 32px;
	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		width: 40px;
		height: 40px;
		background: var(--tertiary-background-color);
		border-radius: 100%;
		img {
			width: 27px;
			}
		}
	&__description {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 4px 0;
		}
	&__text {
		display: block;
		font-size: 13px;
		font-weight: var(--primary-font-weight);
		line-height: 17px;
		}
	&__phone {
		display: block;
		color: var(--fifth-text-color);
		font-size: 12px;
		font-weight: var(--quaternary-font-weight);
		line-height: 17px;
		}
	&__mobile-text {
		display: none;
		color: var(--fifth-text-color);
		font-size: 13px;
		font-weight: var(--fifth-font-weight);
		line-height: 17px;
		}
	}

/* catalog-dropdown */
.catalog-dropdown {
	position: absolute;
	width: 100%;
	top: 206px;
	left: 0;
	background: var(--quaternary-background-color);
	z-index: 30;
	opacity: 0;
	visibility: hidden;
	transition: .5s all;
	&.show {
		opacity: 1;
		visibility: visible;
		}
	&__in {
		margin: 0 auto;
		max-width: 1280px;
		}
	}

/* catalog-tabs */
.catalog-tabs {
	display: flex;
	&__nav {
		flex-shrink: 0;
		padding: 13px 0;
		width: 247px;
		border-right: 1px solid var(--tertiary-border-color);
		li {
			position: relative;
			padding: 11px 10px 13px 35px;
			color: var(--secondary-text-color);
			font-size: 15px;
			font-weight: var(--quaternary-font-weight);
			line-height: 20px;
			letter-spacing: normal;
			transition: .5s all;
			cursor: pointer;
			&:before {
				position: absolute;
				display: block;
				width: 4px;
				height: 30px;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				background: var(--fifth-background-color);
				border-radius: 5px;
				content: "";
				opacity: 0;
				transition: .5s opacity;
				}
			&:hover {
				color: var(--quaternary-text-color);
				}
			&.active {
				background: var(--primary-background-color);
				border-radius: 12px;
				cursor: default;
				&:before {
					opacity: 1;
					}
				&:hover {
					color: var(--secondary-text-color);
					}
				}
			}
		}
	&__content {
		padding: 30px 0 30px 24px;
		flex-grow: 1;
		}
	&__item {
		display: none;
		&.active {
			display: block;
			}
		}
	&__info {
		padding: 0 20px 0 0;
		height: 368px;
		overflow-y: auto;
		}
	&__col {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 32px 50px;
		}
	}

/* catalog-info */
.catalog-info {
	position: relative;
	&__img {
		position: absolute;
		width: 60px;
		height: 46px;
		top: 0;
		right: 0;
		border-radius: 12px;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			}
		}
	&__list {
		margin: 0 0 16px;
		li {
			margin: 0 0 14px;
			font-size: 14px;
			line-height: 17px;
			letter-spacing: -1%;
			&:first-child {
				margin: 0 0 16px;
				font-weight: var(--quaternary-font-weight);
				}
			&:last-child {
				margin: 0;
				}
			&:nth-child(1) {
				max-width: 130px;
				}
			&:nth-child(2) {
				max-width: 130px;
				}
			&.hidden {
				display: none;
				}
			a {
				color: var(--secondary-text-color);
				&:hover {
					color: var(--quaternary-text-color);
					}
				}
			}
		}
	&__more-link {
		position: relative;
		display: inline-flex;
		color: var(--quaternary-text-color);
		font-size: 14px;
		font-weight: var(--quaternary-font-weight);
		line-height: 17px;
		letter-spacing: -1%;
		cursor: pointer;
		transition: .5s color;
		&:hover {
			color: var(--sixth-text-color);
			}
		&:after {
			position: absolute;
			display: block;
			width: 100%;
			height: 1px;
			left: 0;
			bottom: 0;
			background: var(--fifth-background-color);
			content: "";
			}
		}
	}