/* root */
:root {

  /* text color */
  --primary-text-color: #060606;
  --secondary-text-color: #231713;
  --tertiary-text-color: #FFFFFF;
  --quaternary-text-color: #38A27E;
  --fifth-text-color: #000000;
  --sixth-text-color: #48b590;

  /* font-family */
  --primary-font-family: 'Manrope', sans-serif;
  --secondary-font-family: 'Gotham', sans-serif;

  /* font-weight */
  --primary-font-weight: 300;
  --secondary-font-weight: 400;
  --tertiary-font-weight: 500;
  --quaternary-font-weight: 600;
  --fifth-font-weight: 700;
  --sixth-font-weight: 900;

  /* border-color */
  --primary-border-color: #e3ded8;
  --secondary-border-color: #cfcecd;
  --tertiary-border-color: #e7e6e6;

  /* btn-color */
  --primary-btn-color: #38A27E;
  --secondary-btn-color: #48b590;
  --tertiary-btn-color: #231713;
  --quaternary-btn-color: #4f4542;

  /* background-color */
  --primary-background-color: #FAF6EE;
  --secondary-background-color: #F2EADF;
  --tertiary-background-color: #DC8270;
  --quaternary-background-color: #FFFFFF;
  --fifth-background-color: #38A27E;

  }